  <form method="post" id="login">
    <h1>Please sign in</h1>

      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">  

      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">

    <button  type="submit">Sign in</button>
</form>
<div class="goToSignUp">
  <p>dont have an account? <strong onclick="location.href='/api/auth/register'">Sign Up</strong></p>
</div>
<div class="forgotPassword">
  <strong onclick="location.href='/api/auth/forgotpassword'">forgot password?</strong>
</div>