<form action="/api/auth/register" method="post">
        <h1>sign up</h1>


      <input type="text"  id="name" placeholder="Name" name="name">  

    
      <input type="text" id="lastname" placeholder="Lastname" name="lastname">


      <input type="text" id="username" placeholder="Username" name="username">


      <input type="email" id="email" placeholder="Email" name="email">

    
      <input type="password"  id="password" placeholder="Password" name="password">
    
    
      <input type="number"  id="dni" placeholder="Dni" name="dni">
    
    
      <input type="number"  id="phone" placeholder="Phone" name="phone">
    
        
      <input type="text"  id="address" placeholder="Address" name="address">

      <button type="submit">registrarse</button>
    
</form>

<div class="goToSignIn">
  <p>dont have an account? <strong onclick="location.href='/api/auth/login'">Sign In</strong></p>
</div>