<form action="" method="post">
    <input type="password" name="newPassword" placeholder="new password" id="newPassword">
    <input type="password" name="confirmNewPassword" placeholder="confirm new password" id="confirmNewPassword">
    <input type="submit" value="confirmar">
</form>