<h1>Update data</h1>

<form action="/api/users/updateprofile" method="post">
<label for="">Username</label>
<input type="text" name="username" id="" value={{user.username}}>
<label for="">Email</label>
<input type="email" name="email" id="" value={{user.email}}>
<label for="">Address</label>
<input type="text" name="address" id="" value={{user.address}}>
<label for="">Phone</label>
<input type="number" name="phone" id="" value={{user.phone}}>

<input type="submit" value="actualizar">
</form>

